.header {
    width: 100%;
    background-color: teal;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
}

.posts {
    padding: 10px;
    border: solid teal 5px;
    margin: 25px;
}

.button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #18c059; 
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
    box-shadow: 0px, 20px, 10px, black;
    margin: 25px;
}
