.input1 {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
}

.input1:focus {
    border-color: #4caf50; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    background-color: #fff;
}
